$green: #00a850
$dark-green: #009949
$pink: #f124ad
$dark-pink: #cc1777
$white: #FFFFFF
$orange: #ed6c23
$purple: #815ea8
$dark-purple: #6f2ec9
$blue: #0092bd
$darkblue: #255eac
$light-blue: #04b6ff
$light-orange: #f99f1c
$red: #d94134
$large: 1400px
$medium: 1200px
$small: 991px
$xsmall: 768px

html, body
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    background: $green
    color: $white

h1, h2, h3
    font-weight: 300
h1
    font-size: 60px
    @media (max-width: $large)
        font-size: 48px
    @media (max-width: $small)
        font-size: 40px
p
    font-size: 16px

// welcome
.welcome
    background: url(../img/bg-welcome-header.jpg) no-repeat fixed center
    background-size: cover
    position: relative
    @media (max-width: $small)
        background: url(../img/bg-welcome-header-mobile.jpg) no-repeat top center
        background-size: auto
    .align-items-center
        height: 900px
        @media (max-width: 1600px)
            height: 830px
        @media (max-width: 1450px)
            height: 730px
        @media (max-width: $medium)
            height: auto
            min-height: 600px
        @media (max-width: $xsmall)
            min-height: 500px
    .col-xl-3
        background: $light-blue
        padding: 45px 30px
        margin-bottom: 45px
        @media (max-width: $small)
            text-align: center
            margin: 300px 0 0 0 
            background: transparent
            padding-bottom: 100px
        @media (max-width: $xsmall)
            margin: 200px 0 0 0
        @media (max-width: 400px)
            margin: 80px 0 0 0
        img
            margin-bottom: 40px
            width: auto
            max-width: 100%
            @media (max-width: $medium)
                max-width: 300px
            @media (max-width: $xsmall)
                max-width: 250px
        h1
            font-weight: 300
            color: $white
            font-size: 36px
            @media (max-width: $large)
                font-size: 30px
            @media (max-width: $xsmall)
                font-size: 24px
        .btn-pink-arrow
            font-size: 18px
            background: url(../img/btn-arrow.png) no-repeat right 20px top 17px $pink
            padding: 12px 50px 12px 15px
            text-transform: uppercase
            letter-spacing: 2px
            -webkit-box-shadow: 0px 15px 18px 0px rgba(0,0,0,0.15)
            -moz-box-shadow: 0px 15px 18px 0px rgba(0,0,0,0.15)
            box-shadow: 0px 15px 18px 0px rgba(0,0,0,0.15)
            color: $white
            font-weight: 300
            border-radius: 0
            margin: 30px 0 0
            transition: all 0.25s linear
            display: inline-block
            &:hover
                background: url(../img/btn-arrow.png) no-repeat right 15px top 17px #f54cbd
                text-decoration: none
            @media (max-width: $large)
                font-size: 16px
                letter-spacing: 1px
    .arrow-down
        width: 100%
        height: 45px
        position: absolute
        bottom: 0
        background: url(../img/bg-arrow-down.png) repeat-x center
    .l-perfecta
        position: absolute
        bottom: 75px
        right: 30px
        img
            width: auto
            max-width: 100%
        @media (max-width: $small)
            bottom: auto
            top: 15px
            right: 50%
            margin-right: -145px
        @media (max-width: $xsmall)
            width: 200px
            margin-right: -100px

// about
.about
    background: $dark-green
    padding-bottom: 100px
    position: relative
    z-index: 1
    &:after
        content: ''
        position: absolute
        bottom: -43px
        left: 50%
        margin-left: -145px
        width: 290px
        height: 43px
        background: url(../img/btn-arrow-down.png) no-repeat
    h1
        margin-bottom: 30px
        margin-top: 60px
    h2
        font-size: 24px
        font-weight: 400
        line-height: 36px
        @media (max-width: $large)
            font-size: 20px
            line-height: 30px
        @media (max-width: $small)
            font-size: 16px
            line-height: 24px
    .icon
        margin-top: 100px
        position: relative
        height: 160px
        .square
            width: 160px
            height: 160px
            display: block
            border: 5px solid $white
            transform: rotate(45deg)
            margin: 0 auto
            @media (max-width: $xsmall)
                width: 100px
                height: 100px
        .s-pink
            background: $pink
        .s-blue
            background: $light-blue
        .s-purple
            background: $dark-purple
        img
            z-index: 2
            position: absolute
            top: 50%
            transform: translate(-50%,-50%)
            @media (max-width: $xsmall)
                max-width: 60px
                max-height: 60px
                margin-top: -35px
    h3
        font-size: 36px
        margin-bottom: 30px
        padding: 0 60px
        margin-top: 60px
        @media (max-width: $large)
            font-size: 30px
            padding: 0 30px
        @media (max-width: $xsmall)
            margin-top: 0px
    p
        margin: 0 60px
        @media (max-width: $large)
            margin: 0 30px
        @media (max-width: $xsmall)
            margin: 0

// products
.products
    .bg-hgroup
        background: url(../img/bg-products.jpg) no-repeat fixed center
        background-size: cover
        padding: 80px 0 60px
        @media (max-width: $small)
            background: url(../img/bg-products.jpg) no-repeat center center
            background-size: auto
        h1
            text-shadow: 0px 5px 18px rgba(0, 0, 0, 0.68)
            @media (max-width: 480px)
                font-size: 30px
            @media (max-width: 350px)
                font-size: 27px
    .cat-prod
        hgroup
            border-top: 3px solid $white
            border-bottom: 3px solid $white
            padding: 15px 0
            margin: 0 0 60px
            h2
                font-size: 46px
                font-weight: 300
                @media (max-width: $large)
                    font-size: 36px
        h3
            font-size: 46px
            margin-bottom: 40px
            @media (max-width: $large)
                font-size: 36px
            @media (max-width: $xsmall)
                font-size: 30px
        p 
            font-size: 18px
            line-height: 28px
            margin-bottom: 15px
            @media (max-width: $large)
                font-size: 16px
                line-height: 24px
        .main-txt
            margin-bottom: 30px
        .p-pink
            background: $dark-pink
        .p-orange
            background: $orange
        .p-blue
            background: $blue
        .p-red
            background: $red
    .removal
        position: relative
        margin-bottom: -10px
        overflow: hidden
        &:before
            content: ''
            width: 110%
            height: 100%
            position: absolute
            top: 0
            left: -30px
            background: url(../img/bg-cat-removal.jpg) no-repeat left top
            animation-name: rotate
            animation-duration: 2s
            animation-iteration-count: infinite
            animation-direction: alternate
            transform-origin: 0% 70%
            animation-timing-function: ease-in-out
    .cleaning
        background: url(../img/bg-cat-cleaning.jpg) no-repeat center
        background-size: cover
    .toning
        position: relative
        margin-bottom: -10px
        overflow: hidden
        &:before
            content: ''
            width: 110%
            height: 100%
            position: absolute
            top: 0
            right: -30px
            background: url(../img/bg-cat-toning.jpg) no-repeat right center
            animation-name: rotate
            animation-duration: 2s
            animation-iteration-count: infinite
            animation-direction: alternate
            transform-origin: 100% 70%
            animation-timing-function: ease-in-out
    .care
        position: relative
        margin-bottom: -10px
        overflow: hidden
        background: url(../img/bg-cat-care.jpg) no-repeat center
        background-size: cover
    .btn
        font-size: 18px
        background-image: url(../img/icon-buy.png)
        background-repeat: no-repeat
        background-position: left 20px top 15px
        padding: 15px 20px 15px 70px
        text-transform: uppercase
        letter-spacing: 2px
        -webkit-box-shadow: 0px 15px 18px 0px rgba(0,0,0,0.15)
        -moz-box-shadow: 0px 15px 18px 0px rgba(0,0,0,0.15)
        box-shadow: 0px 15px 18px 0px rgba(0,0,0,0.15)
        color: $white
        font-weight: 300
        border-radius: 20px
        margin: 30px 0 0
        transition: all 0.25s linear
        display: inline-block
        &:hover
            background-image: url(../img/icon-buy.png)
            background-repeat: no-repeat
            background-position: left 25px top 15px
            text-decoration: none
    .btn-dark-pink
        background-color: $dark-pink
        &:hover
            background-color: #e2288b
    .btn-orange
        background-color: $orange
        &:hover
            background-color: #ff813a
    .btn-purple
        background-color: $purple
        &:hover
            background-color: #9d78c6
    .btn-blue
        background-color: $blue
        &:hover
            background-color: #00a3d3
    .btn-dark-blue
        background-color: $darkblue
        &:hover
            background-color: #3673c6
    .btn-light-orange
        background-color: $light-orange
        &:hover
            background-color: #f9a935
    .btn-red
        background-color: $red
        &:hover
            background-color: #ea4f44
    .product-content
        position: relative
        @media (max-width: $xsmall)
            margin-bottom: 50px
        .bg-product
            background-image: url(../img/bg-product.jpg)
            background-repeat: no-repeat
            background-position: center
            border-radius: 50%
            width: 100%
            max-width: 600px
            z-index: 2
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            @media (max-width: $large)
                max-width: 400px
            @media (max-width: $xsmall)
                max-width: 300px
            @media (max-width: 420px)
                max-width: 200px
        .bg-circle
            width: 600px
            height: 600px
            border-radius: 50%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            z-index: 1
            @media (max-width: $large)
                width: 400px
                height: 400px
            @media (max-width: $xsmall)
                width: 300px
                height: 300px
            @media (max-width: 420px)
                max-width: 200px
                max-height: 200px
        .p-left
            margin: 40px 0 0 40px
            // animation-name: animLeft
            // animation-duration: 10s
            // animation-iteration-count: infinite
            // animation-timing-function: ease-in-out
            @media (max-width: $small)
                // animation: none
                margin: 20px 0 0 20px
                // transform: scale(1) translate(-50%,-50%)
        .p-right
            margin: 40px 0 0 -40px
            // animation-name: animRight
            // animation-duration: 10s
            // animation-iteration-count: infinite
            // animation-timing-function: ease-in-out
            @media (max-width: $small)
                // animation: none
                margin: 20px 0 0 -20px
                // transform: scale(1) translate(-50%,-50%)
        .p-pink
            background: $dark-pink
        .p-orange
            background: $orange
        .p-purple
            background: $purple
        .p-blue
            background: $blue
        .p-dark-blue
            background: $darkblue
        .p-light-orange
            background: $light-orange
        .p-red
            background: $red
        .product
            position: relative
            z-index: 3
            @media (max-width: $large)
                max-width: 450px
                max-height: 450px
            @media (max-width: $xsmall)
                max-width: 350px
                max-height: 350px
            @media (max-width: 420px)
                max-width: 250px
                max-height: 250px
        .product-custom
            @media (max-width: 420px)
                max-width: 200px
                max-height: 200px
        .pro-left
            transform: rotate(10deg)
            // animation-name: rotateLeft
            // animation-duration: 8s
            // animation-iteration-count: infinite
            // animation-timing-function: ease-in-out
            // @media (max-width: $small)
                // animation: none
                // transform: rotate(10deg)
        .pro-right
            transform: rotate(-10deg)
            // animation-name: rotateRight
            // animation-duration: 10s
            // animation-iteration-count: infinite
            // animation-timing-function: ease-in-out
            // @media (max-width: $small)
            //     animation: none
            //     transform: rotate(-10deg)

.w-cookies
    background-size: cover
    background-position: static
    .align-items-center
        height: 500px
    .l-perfecta
        bottom: 30px
.c-cookies
    padding: 60px 0
    h1
        margin-bottom: 30px

.c-list
    img
        display: inline-block
        margin-bottom: 30px
        margin-top: 60px
    a
        display: block
        color: $white

// footer
footer
    background: #009145
    padding: 60px 0
    width: 100%
    display: block
    img
        max-width: 250px
    .col-md-5
        @media (max-width: $small)
            text-align: center !important
            margin-bottom: 40px
    p
        margin: 0
        a
            color: $white
            &:hover
                color: $white
                text-decoration: underline

.clearfix::after
    height: 100px
    @media (max-width: $xsmall)
        height: 50px
.c-150::after
    height: 150px
    @media (max-width: $xsmall)
        height: 100px

@keyframes rotate
  0%
    transform: rotate(-0.5deg)
  100%
    transform: rotate(0.5deg)

@keyframes rotateLeft
  0%
    transform: rotate(10deg) translateY(0px)
  50%
    transform: rotate(5deg) translateY(10px)
  100%
    transform: rotate(10deg) translateY(0px)

@keyframes rotateRight
  0%
    transform: rotate(-10deg) translateY(0px)
  50%
    transform: rotate(-5deg) translateY(10px)
  100%
    transform: rotate(-10deg) translateY(0px)

@keyframes animLeft
  0%
    margin: 20px 0 0 20px
    transform: scale(1) translate(-50%,-50%)
  50%
    margin: 50px 0 0 50px
    transform: scale(1.05) translate(-50%,-50%)
  100%
    margin: 20px 0 0 20px
    transform: scale(1) translate(-50%,-50%)

@keyframes animRight
  0%
    margin: 30px 0 0 -30px
    transform: scale(1) translate(-50%,-50%)
  50%
    margin: 50px 0 0 -50px
    transform: scale(1.05) translate(-50%,-50%)
  100%
    margin: 30px 0 0 -30px
    transform: scale(1) translate(-50%,-50%)
